@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

html ul {
  list-style-type: none;
}

html a {
  text-decoration: none;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body,
html {
  margin: 0;
}

h1 {
  font-size: min(10vw, 3rem);
  color: #2b487d;
  margin: 0;
}

h2 {
  font-size: clamp(1.75rem, 2vw, 2rem);
}

p,
a {
  font-size: clamp(1rem, 1.25vw,1.25rem);
}

p {
  width: min(100%,60ch);
}

textarea {
  resize: none;
}

.btn__blue {
  background: #557bb5;
  margin: 1rem auto;
  padding: 0.8rem;
  color: white;
  border: 0;
  border-radius: 25px;
}

.btn__blue:hover, .btn__blue:focus {
  background: #2b487d;
}

@media screen and (min-width: 2100px) {
  html {
    font-size: 2rem;
  }
}

.servicos {
  overflow: hidden;
  color: #363636;
  padding: 2rem 5%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

.servicos h2 {
  font-weight: 900;
  width: min(100%,33ch);
}

.frame {
  background: linear-gradient(to bottom, #557bb5, #2b487d);
  outline: 1rem solid #363636;
  position: relative;
  margin: 2rem auto;
  height: min(60vw,15rem);
  width: min(80vw, 20rem);
}

.frame img {
  position: absolute;
  bottom: -20%;
  left: 0;
  right: 0;
  width: 130%;
}

.notactiveImg {
  visibility: hidden;
  pointer-events: none;
}

.activeImg {
  visibility: visible;
  pointer-events: none;
}

.wrapper {
  margin: auto;
  width: min(100%,60ch);
}

.wrapper nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper nav button {
  padding: 0.5rem;
  border-radius: 25px;
  cursor: pointer;
}

.wrapper p {
  margin: 1rem 0;
}

.btn {
  display: block;
  cursor: pointer;
  width: min(50vw,7rem);
  height: min(20vw,2.7rem);
  border: none;
  background: #c99964;
  color: #363636;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.btn:hover, .btn:focus {
  background: #b98041;
}

.unactive {
  border: 1px solid #363636;
  background: transparent;
  color: #363636;
}

.unactive:hover, .unactive:focus {
  border-color: #557bb5;
  color: #557bb5;
}

.active {
  color: #fff;
  border: 1px solid #2b487d;
  background: #2b487d;
}

@media screen and (max-width: 1023px) {
  .upperTitle {
    display: block;
  }
  .lowerTitle {
    display: none;
  }
  .frame {
    height: min(60vw,21rem);
    width: min(80vw, 28rem);
  }
  .frame img {
    bottom: -15%;
  }
  .servicos {
    flex-direction: column;
    justify-content: space-between;
  }
  .wrapper nav button {
    margin-top: 1rem;
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .servicos__title {
    text-align: start;
  }
  .upperTitle {
    display: none;
  }
  .lowerTitle {
    margin-bottom: 1rem;
    display: block;
  }
  .frame {
    order: 2;
    height: 15rem;
    width: 20rem;
  }
  .wrapper nav button {
    margin: 1rem 1rem 1rem 0;
  }
}
/*# sourceMappingURL=servicos.module.css.map */