@import "../../main.scss";

.servico {
    position: relative;
    padding: 5% 0;
    min-height: 70vh;
    overflow: hidden;
    background: $black;
    color: white;
    display: flex;
    align-items: center;

    &:nth-child(odd) {
        padding: 5rem 0;
        background: $pastel;
        color: $black;
        & .servico__wrap {
            order: 3;
        }
    }
    &__wrap {
        margin: auto;
        width: #{"min(90%,60ch)"};
        & h2,
        & h3 {
            color: $brown;
        }
    }
}
@media screen and (max-width: 1023px) {
    .header {
        position: static;
    }
    .servico {
        display: flex;
        flex-direction: column;
        &:first-of-type {
            margin-top: 3.7rem;
        }
        &__wrap {
            margin: auto;
            order: 3;
        }
    }
}
@media screen and (min-width: 1024px) {
    .servico {
        padding: 5%;
        &:first-of-type {
            margin-top: #{"min(9vw,9vh)"};
        }
        &__wrap {
            width: #{"min(80%,60ch)"};
        }
    }
}
