@import "../../main";

.footer {
    position: relative;
    z-index: 1;
    display: flex;
    background: $black;
    color: white;
    padding: 2rem 0.5rem;
    justify-content: space-between;
    & p {
        position: absolute;
        bottom: 1rem;
        width: 90%;
        text-align: center;
        font-size: 0.7rem;
    }
}

.social {
    display: flex;
    justify-content: center;
    margin: 1rem 2rem 2rem;
    & img {
        width: 3rem;
        cursor: pointer;
    }
    & a {
        &:hover,
        &:focus {
            filter: invert(68%) sepia(21%) saturate(747%) hue-rotate(351deg) brightness(239%) contrast(95%);
        }
    }
}
@media screen and (max-width: 1023px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        width: #{"min(90%,17rem)"};
        margin: auto;
    }
}
@media screen and (min-width: 1024px) {
    .footer {
        padding: 2rem 0.5rem 4rem;
        align-items: center;
        justify-content: space-around;
    }
    .logo {
        height: 6rem;
    }
}
