@import "../../main";

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
    background: $pastel;
    min-height: 80vh;
    overflow: hidden;
}
.bigbubble {
    position: absolute;
    bottom: -10%;
}
.smallbubble {
    position: absolute;
}
.text {
    margin-top: #{"min(9vw,9vh)"};
    position: relative;
    z-index: 1;
    color: $lightBlue;
    & p {
        margin-top: 1rem;
        color: $blue;
    }
}
.form {
    margin: 2rem auto 1rem;
    width: #{"min(90%,45rem)"};
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.formItemWrap {
    display: flex;
    & label {
        text-align: start;
    }
}
.li {
    position: relative;
    display: flex;
    flex-direction: column;
    & label {
        position: absolute;
        transition: all 0.2s;
    }
    & input,
    & textarea {
        width: 100%;
        margin: 1rem 0;
        border: none;
        border-bottom: 1px solid $black;
        background-color: transparent;
        &:required ~ label,
        &:invalid ~ label {
            font-size: 0.9rem;
            top: -0.4rem;
            color: $black;
        }
        &::placeholder {
            color: transparent;
        }
        &:placeholder-shown ~ label {
            pointer-events: none;
            top: 0.4rem;
        }
        &:focus,
        &:hover {
            border-color: $brown;
            border-width: 1px;
            outline: none;
            & ~ label {
                top: -0.4rem;
                color: $brown;
            }
        }
    }
    & textarea {
        border: 1px solid $black;

        & ~ label {
            background: $pastel;
            left: -0.1rem;
            padding: 0 0.6rem 0.6rem 0;
        }
    }
}
.wrapper {
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}
.info {
    display: flex;
    & svg {
        width: #{"min(40vw,3rem)"};
        fill: $lightBlue;
    }
    & p {
        border-radius: 50px;
        padding: 0.7rem;
        margin: #{"max(.5rem,1vh)"} 1rem;
        background-color: white;
        color: $black;
        font-size: #{"min(4vw,1rem)"};
    }
}
@media screen and (max-width: 1023px) {
    .bigbubble {
        right: #{"min(-5%, 60rem)"};
        width: #{"min(54vw, 20rem)"};
    }
    .smallbubble {
        display: none;
        top: 7%;
        left: #{"min(-5%, 60rem)"};
        width: #{"min(18vw, 9rem)"};
    }
    .formItemWrap {
        flex-direction: column;
    }
}
@media screen and (min-width: 1024px) {
    .bigbubble {
        right: #{"min(10%, 60rem)"};
        width: #{"min(54vw, 20rem)"};
    }
    .smallbubble {
        top: 2%;
        left: #{"min(10%, 60rem)"};
        width: #{"min(18vw, 9rem)"};
    }
    .formItemWrap {
        justify-content: space-between;
        & * {
            width: 48%;
        }
    }
    .info {
        &:hover,
        &:focus {
            & p,
            & svg {
                color: $brown;
                fill: $brown;
            }
        }
    }
}
