@import "../../main";

//REFATOR THIS WHOLE FILE

.carousel {
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0;
}

.line {
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
    transition: all 0.2s ease;
    &::after {
        content: "";
        background: $pastel;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.25rem;
        margin: auto;
        pointer-events: none;
    }
    &:hover,
    &:focus {
        width: 4rem;
    }
}
.active2 {
    width: 4rem;
    &::after {
        height: 0.4rem;
        background: $blue;
    }
}
.empresas {
    background: $lightestGrey;
    text-align: center;
    width: 100%;
    color: $blue;
    & > h3 {
        width: 100%;
        margin: auto;
    }
    & img {
        margin: 1rem;
        display: inline;
        width: 8rem;
    }
}
@media screen and (max-width: 1023px) {
    .carousel {
        width: #{"min(90vw,28rem)"};
        height: #{"min(90vw,28rem)"};
    }

    .carouselItem {
        min-width: #{"min(80vw,24rem)"};
        margin: 0 #{"min(5vw,2rem)"};
    }
    .empresas {
        padding: 2rem;
    }
}
@media screen and (min-width: 1024px) {
    .carousel {
        width: 54rem;
    }

    .carouselItem {
        min-width: 25rem;
        height: 20rem;
        margin: 0 1rem;
        & div p {
            font-size: 1rem;
            margin: 0.5rem 0;
            width: 100%;
        }
    }

    .empresas {
        padding: 2rem 10%;
        & > h3 {
            width: 70ch;
        }
        & img {
            margin: 1rem 2vw;
        }
    }
}
