@import "../../main";

.servicos {
    overflow: hidden;
    background: $black;
    color: white;
    padding: 2rem 5%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    flex-basis: 100%;
    & h2 {
        font-weight: 900;
        width: #{"min(100%,33ch)"};
        color: white;
    }
}
.frame {
    background: linear-gradient(to bottom, $lightBlue, $blue);
    outline: 1rem solid white;
    position: relative;
    margin: 2rem auto;
    height: #{"min(60vw,15rem)"};
    width: #{"min(80vw, 20rem)"};
    & img {
        position: absolute;
        bottom: -20%;
        left: 0;
        right: 0;
        width: 130%;
    }
}
.notactiveImg {
    visibility: hidden;
    pointer-events: none;
}
.activeImg {
    visibility: visible;
    pointer-events: none;
}
.wrapper {
    margin: auto;
    width: #{"min(100%,60ch)"};
    & nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        & button {
            padding: 0.5rem;
            border-radius: 25px;
            cursor: pointer;
        }
    }
    & p {
        margin: 1rem 0;
        white-space: pre-line;
    }
}
.btn {
    display: block;
    cursor: pointer;
    width: #{"min(50vw,7rem)"};
    height: #{"min(20vw,2.7rem)"};
    border: none;
    background: $brown;
    color: white;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    &:hover,
    &:focus {
        background: darken($brown, 10%);
    }
}
.unactive {
    border: 1px solid white;
    background: transparent;
    color: white;
    &:hover,
    &:focus {
        border-color: $brown;
        color: $brown;
    }
}
.active {
    color: white;
    border: 1px solid $lightBlue;
    background: $lightBlue;
}

@media screen and (max-width: 1023px) {
    .servicos {
        flex-direction: column;
        justify-content: space-between;
        padding: #{"max(5vh,3rem)"} 5%;
    }
    .upperTitle {
        display: block;
    }
    .lowerTitle {
        display: none;
    }
    .frame {
        height: #{"min(60vw,21rem)"};
        width: #{"min(80vw, 28rem)"};
        & img {
            bottom: -15%;
        }
    }
    .wrapper {
        & nav button {
            margin-top: 1rem;
            margin-right: 0.5rem;
        }
    }
}
@media screen and (min-width: 1024px) {
    .servicos {
        &__title {
            text-align: start;
        }
    }
    .upperTitle {
        display: none;
    }
    .lowerTitle {
        margin-bottom: 1rem;
        display: block;
    }
    .frame {
        order: 2;
        height: 15rem;
        width: 20rem;
    }
    .wrapper {
        & nav button {
            margin: 1rem 1rem 1rem 0;
        }
    }
}
