@import "../../main";

.sobre {
    overflow: hidden;
    min-height: 70vh;
    position: relative;
    background: url(../../img/BgSobre.webp);
    background-size: cover;
    padding: #{"max(43vw,15rem)"} 0 20%;
}
.extrator {
    transition: transform 1.5s ease-in-out;
    visibility: visible;
    position: absolute;
    top: 19vw;
    left: 0%;
    height: 80px;
    z-index: 1;
    transform: translateX(0);
    &__scrolled {
        transform: translateX(100vw);
    }
}
.title {
    position: absolute;
    overflow: hidden;
    height: 80px;
    width: 0;
    transition: all 1.5s ease-in-out;
    top: 19vw;
    left: 0%;
    &__scrolled {
        width: 100vw;
    }
}
.titletext {
    margin: 20px 0;
    text-align: center;
    width: 100vw;
    font-size: #{"min(10vw,2rem)"};
    color: $blue;
    &::before {
        position: absolute;
        content: "";
        top: 0%;
        right: 0;
        left: 0;
        bottom: 0%;
        background: white;
        opacity: 0.3;
        mix-blend-mode: overlay;
        width: 100%;
    }
}
.textbox {
    position: relative;
    color: white;
    background: $black;
    padding: 2rem;
    & svg {
        position: absolute;
        width: 3rem;
        fill: white;
        right: 0rem;
        bottom: -1rem;
    }
}
//CLEANER IMAGE AND SPARKLES
@media screen and (max-width: 749px) {
    .cleaner {
        display: none;
    }
    .top {
        top: -1rem;
        left: 0.1rem;
    }
    .bottom {
        right: 0.1rem;
        bottom: -1rem;
    }
}

@media screen and (min-width: 750px) {
    .cleaner {
        z-index: 3;
        position: absolute;
        bottom: 2rem;
        right: 0;
        width: #{"clamp(8rem,30%,17rem)"};
    }
    .top,
    .bottom {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .remate {
        display: none;
    }
    .textbox {
        & hr {
            max-width: 20rem;
            margin: 1rem auto;
        }
        & p {
            margin: auto;
            font-size: #{"min(4vw, 1rem)"};
        }
    }
}
@media screen and (min-width: 1024px) {
    .sobre {
        padding-top: #{"min(40rem,70vw)"};
    }
    .remate {
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        z-index: 300;
    }
    .extrator {
        top: 20%;
        height: 15%;
    }
    .title {
        height: 15%;
        top: 20%;
    }
    .titletext {
        margin: 40px 0;
        width: 100vw;
        font-size: 3rem;
    }
    .textbox {
        right: #{"max(15%, 8rem)"};
        bottom: 10rem;
        position: absolute;
        width: #{"clamp(33rem,50%,55rem)"};
        &--text1 {
            border-radius: 25px 25px 0 0;
        }
        &--text3 {
            border-radius: 0 0 25px 25px;
        }
    }
    .cleaner {
        right: 8%;
    }
}
