@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
@import "./variables";

html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: white;
    }
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body,
html {
    margin: 0;
}

h1 {
    font-size: #{"min(10vw, 3rem)"};
    color: $blue;
    margin: 0;
}

h2 {
    font-size: #{"clamp(1.75rem, 2vw, 2rem)"};
}

p,
a {
    font-size: #{"clamp(1rem, 1.25vw,1.25rem)"};
}
p {
    width: #{"min(100%,60ch)"};
}

textarea {
    resize: none;
}

.btn {
    &__blue {
        background: $lightBlue;
        margin: 1rem auto;
        padding: 0.8rem;
        color: white;
        border: 0;
        border-radius: 25px;
        &:hover,
        &:focus {
            background: $blue;
        }
    }
}
@media screen and (min-width: 2100px) {
    html {
        font-size: 2rem;
    }
}
