@import "../../main";

.fold {
    background: url(../../img/BgFold.webp) center bottom;
    background-size: cover;
    min-height: #{"max(95vh, 25rem)"};
    position: relative;
    display: flex;
    & svg {
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
        margin: auto;
        transition: all 0.1s;
        fill: $blue;
    }
}
.text {
    z-index: 1;
    font-weight: 900;
    margin: auto;
    & h2 {
        font-size: #{"min(6vw, 1.7rem)"};
        color: $lightBlue;
        margin: 0;
    }
}
@media screen and (max-width: 1023px) {
    .fold {
        & svg {
            width: 3rem;
        }
    }
    .bigbubble,
    .smallbubble {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .fold {
        & svg {
            width: 2.5rem;
            &:hover,
            &:focus {
                box-sizing: content-box;
                border-radius: 25px;
                padding: 5px;
                border: 2px solid $brown;
                fill: $brown;
                width: calc(#{"min(6%,1.6rem)"} + 5px);
            }
        }
    }
    .bigbubble {
        position: absolute;
        right: #{"clamp(1rem, 13%, 60rem)"};
        bottom: 35%;
        width: #{"clamp(7rem, 40vw, 15rem)"};
    }
    .smallbubble {
        position: absolute;
        left: #{"clamp(1rem, 30%, 30rem)"};
        bottom: 27%;
        width: #{"clamp(2.5rem, 20vw, 5rem)"};
    }
}
